<div class="ui container">
  {{ page.header }}

  {% set string = 'hello' %}
  {{ string }}
  <pre>{{ dump(string, logged_in, is_admin) }}</pre>

  {% if is_admin %}
  <div class="ui positive message">
    {{ string }}
  </div>
  {% endif %}

  {% set users = ['wanghao', 'xiaoxue'] %}
  {% for user in users %}
  {{ user }}
  {% endfor %}

  {{ page.content }}
</div>
