<div class="ui container">
  {{ page.header }}

  {% set users = ['wanghao', 'xiaoxue'] %}
  <pre>{{ users|json_encode }}</pre>
  <pre>{{ users|join(', ') }}</pre>

  <button class="ui button">{{ 'Submit'|t }}</button>

  {{ page.content }}
</div>
